{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Servicios</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Servicios</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
      <button type="button" id="btn-modal-servicio" class="btn btn-success" data-toggle="modal" data-target="#modal-xl">
        Agregar +
      </button>

      <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Servicio</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <form action="" id="form-servicio">
                  <div class="mb-3 row">
                    <label for="cbo_tiposervicio_id" class="control-label">Tipo Servicio</label>
                    <div class="col-sm-2">
                      <select class="form-control form-control-sm" id="id_id_tipo_servicio"
                          name="id_tipo_servicio">
                          
                          {% for value in form.id_tipo_servicio %}
                            {{value}}
                          {% endfor %}
                            
                        </select>
                    </div>
                    <label for="descripcion_id" class="col-sm-2 col-form-label">Descripción:</label>
                    <div class="col-sm-2">
                        {{form.descripcion}}
                    </div>
                    <label for="precio_id" class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-2">
                        {{form.precio}}
                    </div>
                    <label for="estado_id" class="col-sm-1 col-form-label">Estado:</label>
                    <div class="col-sm-1">
                        {{form.estado}}
                    </div>
                  </div>
                </form>
                
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" id="modificar-servicio" class="btn btn-default">Modificar</button>
              <button type="button" id="registrar-servicio"class="btn btn-primary">Guardar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table-servicio" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Descripcion</th>
                                  <th>Precio</th>
                                  <th>Tipo de servicio</th>
                                  <th>Estado</th>
                                  <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                              </table>
                        </div>
                      
                    </div>
                  </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</section> 
{% endblock body %}

{% block js %}
    <script src="{% static 'js/citas/servicio.js' %}" ></script>

{% endblock js %}